body {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    width: 55%;

}
#main{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

button{
    font-size: 20px;
    background-color: lightblue;
    margin-top: 8px;
    width: 150px;
    height: 40px;
    border: solid 3px black;
}

#output{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

input{
    width: 120px;
    height: 20px;
    border: solid 2px black;
}
label{
    font-size:  20px;
}